.footer
  .container
    .col-lg-12
      = render "layouts/header_title.html"
      %p All Your Questions Answered By The Whole World
      .social-media
        = link_to fa_icon('facebook'), ''
        = link_to fa_icon('twitter'), ''
        = link_to fa_icon('pinterest'), ''
        = link_to fa_icon('instagram'), ''
      %p &copy; 2016 Phumzani Major, Powered by Ruby on Rails, Bootstrap, jQuery