%li.list-group-item
  - if a.trackable
    %span.glyphicon.glyphicon-plus
    %small.text-muted= a.created_at.strftime('%H:%M:%S %-d %B %Y')
    %br
    %strong= activity.owner ? link_to(activity.owner, user_path(activity.owner)) : 'Guest'
    asked about 
    = link_to truncate(a.trackable.body, length: 100), question_path(a.trackable) 
  - else
    %span.glyphicon.glyphicon-minus
    %small.text-muted= a.created_at.strftime('%H:%M:%S %-d %B %Y')
    %br
    %strong= activity.owner ? link_to(activity.owner, user_path(activity.owner)) : 'Guest'
    deleted his question. Ask him why?